#nav-main {
    // Reset first
    margin: 0;
    padding: 0;
    list-style: none outside none;

    ul {
        margin: 0;
        padding: 0;
        list-style: none outside none;
    }

    margin-left: x(1);

    // List
    .menu-item {
        font-size: 11px;
        font-family: $ff-sans-bold;
        letter-spacing: 0.1em;
    }

    // Submenu
    .sub-menu {
        margin: x(.25) 0 x(.25) x(1);

        .menu-item {
            font-family: $ff-sans-regular;
        }

        a:hover { text-decoration: underline; }
    }
}