@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/compass";
@import "vendor/compass-mixins/compass/layout";
@import "vendor/compass-mixins/compass/support";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";

.zzz {
    display: flex;
    abc: r(1);
    def: r(1rem);
    ghi: x(1);
    font-family: $ff-sans-regular;
}

p.test {
    font-family: $ff-sans-test;
}