@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/compass";
@import "vendor/compass-mixins/compass/layout";
@import "vendor/compass-mixins/compass/support";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";
@import "base/color";
@import "base/setting";

/* ------ {{ global object }} ------ */
@import "object/global/element";
@import "object/global/text";

/* ------ {{ vendors }} ------ */
@import "vendor/unyson/fw";
@import "vendor/unyson/frontend-grid";
@import "vendor/unyson/extension";
@import "vendor/visual-form-builder/vfb";
@import "vendor/woocommerce/woocommerce";
@import "vendor/woocommerce-cart-tab/wct";
@import "vendor/wysija/wysija";
@import "vendor/formstone/stepper";
@import "vendor/formstone/selecter";

/* ------ {{ non-global object }} ------ */
@import "object/page";
@import "object/header";
@import "object/footer";
@import "object/nav";
@import "object/title";

/* ------ {{ debugger }} ------ */
@import "object/global/debugger";


/* ------ {{ shame }} ------ */
.woocommerce div.product form.cart {
    label, input, p, a, li { font-family: $ff-sans-alt; }

    div.quantity {
        @include s-clearfix();
        height: x(1);
        width: 100%;
        position: relative;
        float: none;
        margin: 0 0 x(.5) 0;

        label {
            float: left;
            width: x(3);
            margin-right: x(.5);

            & + div {
                float: none;
                clear: right;
            }
        }
    }
}
