@import "base/doc";

/* ------ {{ ie-toggle }} ------ */
$old: false;

/* ------ {{ normalize }} ------ */
@import "vendor/normalize/normalize";

/* ------ {{ compass-mixins }} ------ */
@import "vendor/compass-mixins/compass";
@import "vendor/compass-mixins/compass/layout";
@import "vendor/compass-mixins/compass/support";

/* ------ {{ sirna-functions }} ------ */
@import "function/sirna-parse-int";
@import "function/sirna-rem-px";
@import "function/sirna-unit-scale";

/* ------ {{ sirna-mixins }} ------ */
@import "mixin/sirna-clearfix";
@import "mixin/sirna-font-face";
@import "mixin/sirna-font-icon";
@import "mixin/sirna-media-query";
@import "mixin/sirna-transition";

/* ------ {{ base }} ------ */
@import "base/font";
@import "base/color";
@import "base/setting";

/* ------ {{ global object }} ------ */
@import "object/global/element";
@import "object/global/text";
@import "object/global/scrollbar";

/* ------ {{ vendors }} ------ */
@import "vendor/fontawesome/font-awesome";
@import "vendor/unyson/fw";
@import "vendor/unyson/frontend-grid";
@import "vendor/unyson/extension";
@import "vendor/visual-form-builder/vfb";
@import "vendor/woocommerce/woocommerce";
@import "vendor/woocommerce-cart-tab/wct";
@import "vendor/wysija/wysija";
@import "vendor/formstone/stepper";
@import "vendor/formstone/selecter";

/* ------ {{ non-global object }} ------ */
@import "object/page";
@import "object/header";
@import "object/footer";
@import "object/nav";
@import "object/title";
@import "object/heirloom-filter";

/* ------ {{ debugger }} ------ */
@import "object/global/debugger";


/* ------ {{ shame }} ------ */
.woocommerce div.product form.cart {

    @include s-clearfix;
    position: relative;

    label, input, p, a, li { font-family: $ff-sans-alt; }
}

.fieldrow {
    @include s-clearfix();
    position: relative;
    width: 100%;
    margin: 0 0 x(.5) 0;

    label {
        display: block;
        float: left;
        width: x(3);
        margin: 0 6px 0 0;
        text-transform: uppercase;
    }
}

.woocommerce-main-image {
    display: block;
    height: 100%;
}

.product-buttons {
    position: fixed;
    bottom: x(.5);
    margin-top: x(2);
    width: x(18);

    button {
        width: 100%;

        &:last-child { margin-bottom: 0 !important; }
    }
}

.heirloom-product-outer {
    @include s-clearfix();
    position: relative;
    max-height: 100%;
    min-height: 100%;
    min-width: x(20);
    max-width: x(20);
    width: x(20);
    height: 100%;
    overflow: hidden;
    float: left;
}
.heirloom-product {
    @include s-clearfix();

    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    float: left;

    padding: 0;
    margin: 0;
    list-style: none outside none;

    .heirloom-product-item {
        @include s-clearfix();
        position: relative;
        top: 0;
        right: 0;

        min-height: 100%;
        max-height: 100%;
        height: 100%;
        overflow: hidden;
    }

    .heirloom-product-image {
        display: block;
        max-height: 100%;
        height: 100%;
        float: left;
    }
}
.heirloom-product-control {
    @include s-clearfix();
    @include transform-origin( top, left, 0 );
    @include transform( rotate( -90deg ) );

    display: block;
    position: absolute;
    bottom: 0; left: x(-0.5);

    width: x(4.5);
    height: x(1);

    a.hpc-prev,
    a.hpc-next {

        display: block;
        float: left;

        width: x(1.5);
        height: 100%;

        font-size: x(.5);
        line-height: x(1);

        color: $black;
        background-color: $white;

        text-decoration: none;
        margin: 0;
        padding: 0 4px;

        text-align: center;

        &:hover {
            background-color: #AAA;
        }
    }

    a.hpc-zoom {

        display: block;
        float: right;

        width: x(1);
        height: x(1);

        font-size: x(.5);
        line-height: x(1);

        color: $black;
        background-color: $white;

        text-decoration: none;
        margin: 0;

        text-align: center;

        background-color: $white;

        i.fa {
            @include transform( rotate( 180deg ) );
            position: relative;
            display: block;
            width: x(1);
            height: x(1);
            top: -6px;
        }

        &:hover {
            background-color: #AAA;
        }
    }

    .touch & a.hpc-zoom {
        display: none;
    }
}

body.archive {

    .products-heirloom-outer {
        @include s-clearfix();

        position: relative;
        max-height: x(18);
        height: x(18);
        /* padding-bottom: x(1); */
        width: 100%;
        overflow: scroll;

        z-index: $z-product-archive;
    }

    ul.products {
        position: relative;
        max-height: 100%;
        height: 100%;
        width: 100%;

        margin: 0;

        li.product[class*="heirloom"] {

            display: block;
            float: left;
            height: 100%;
            width: x(12);
            margin: 0;
            padding: 0;

            a, span {
                display: block;
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: #F00;
            }

            & > a {
                @include s-clearfix();

                span.product-heirloom-image-outer {

                    @include transition( opacity .3s ease-out );

                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                span.product-heirloom-image-outer:first-of-type {
                    opacity: 1;
                }


                &:hover {
                    span.product-heirloom-image-outer:nth-of-type(2) {
                        opacity: 1;
                    }
                }
            }

            img {
                display: block;
                height: auto;
                width: 100%;
                margin: 0;
                padding: 0;
            }

            h3 {
                margin: 0;
                padding: 0;
                width: 100%;
                display: none;
            }
        }
    }
}
