.header {
    position: fixed;
    left: 0;
    z-index: $z-header;

    .header-link {
        display: block;
        width: x(15);
        height: x(3);
        overflow: hidden;

        & > object { pointer-events: none; }
    }
}