#nav-main {
    // Reset first
    margin: 0;
    padding: 0;
    list-style: none outside none;

    @media ( min-width: 768px ) {
        margin-top: x(1);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none outside none;
    }

    margin-left: x(1);

    // List
    .menu-item {
        font-size: 11px;
        font-family: $ff-sans-bold;
        letter-spacing: 0.1em;

        display: block;
        width: x(10);

        a {
            display: block;
            width: 100%;
        }

    }

    // Submenu
    .sub-menu {
        @include transition( max-height 1s ease-out );

        max-height: 0;
        height: 0;
        overflow: hidden;

        margin: 0 0 0 x(1);

        .menu-item {
            font-family: $ff-sans-regular;
        }

        a:hover { text-decoration: underline; }
        .active > a { text-decoration: underline; }
    }

    // Interaction
    .current-menu-parent, .open {
        .sub-menu {
            @include transition( max-height 1s ease-out );

            max-height: 100%;
            height: auto;
            margin: x(.25) 0 x(.25) x(1);
        }
    }
}