#page {
    position: relative;
}

#main {
    @include s-clearfix();

    @media ( min-width: 839px ) { padding: x(.5) x(1) x(.5) x(5); }

    body.page & {
        padding: x(4) x(1) 0 x(7);
    }

}

#page, #content, #inner-content, #main, #main>div {
    @include s-clearfix();
    height: 100%;
}